
/* --------------------------------   CONTACT   --------------------------------  */
.con h1{
    text-align: center;
}
.con h3{
    text-align: center;
    font-weight: bold;
}
.con p{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.box-hover {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.light-box {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 1px 0px 0px #f0f2f4;
    padding: 20px 50px 20px 20px ;
}
p {
    margin: 0 0 10px;
}
.contact-details h2 span {
    display: block;
    color: #3dc9b3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 10%;
}
a {
    color: #000000fb;
    border-bottom: 1px dotted #141413;
}

@media (min-width: 1200px)
.col-lg-4 {
    width: 100%;
}
.col-lg-4{
    text-align: center;
   
}
.contact-details .col-lg-4 .box-hover:hover{
    background-color: #c2ebe4;
}