/* --------------------------------    HOME   --------------------------------  */

*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}
.name{
    background-size: 100px;
    font-family: 'Dancing Script', cursive;
}
.bg{
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* .first{
    position: relative;
    width: 100%;
    height: 100vh;
} */
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgba(228, 80, 220, 0.808);
}
.main{
    text-align: center;
    padding-top: 200px;
    font-size: medium;
}
.main p{
    padding-top: 30px;
    font-size: large;
}


