*{
    margin: 0;
    padding: 0;
}
.name{
    background-size: 100px;
    font-family: 'Dancing Script', cursive;
}
.bg{
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.first{
    position: relative;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgba(228, 80, 220, 0.808);
}


/* --------------------------------  PROJECTS  --------------------------------  */
.proj h1{
    text-align: center;
}
.proj h3{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
h5{
    padding-top: 15px;
    text-align: center;
}
.text-muted{
    text-align: center;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}
.des{
    margin-top: -5%;
    text-align: center;
}